.inputContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.inputContainer>* {
    font-size: 20px !important;
}

.postsContainer {
    border: 2px solid whitesmoke;
    margin: 10px;
    padding: 10px;
}
