.container {
    display: flex;
    flex-direction: column;
}

.todo_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.todo_container button {
    padding: 2px;
    font-size: 14px;
}

.error {
    font-size: 10px;
    color: red;
    font-weight: 400;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
