.todosContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.todo {
    flex-grow: 1;
    border: 1px solid;
    min-height: 100px;
    padding: 10px;
    margin: 10px;
}


p {
    margin: 0;
    font-size: calc(10px + 1vw);
}
